<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container backgroundImg" alt="vilanovaCover">
        <div class="alignInXspaceBetween">
            <div class="smallPadding">
                <h1>Welcome to ARCHI.FILES</h1>
                <h3>A repository for world-wide architecture images,<br>
                    works locations and authors info</h3>
                <h4>**For now only displaying VilanovaArtiga´s works</h4>
            </div>
            <ul class="alignInX smallPadding">
                <li class="smallPadding"><a href="/home"><label>Home</label></a></li>
                <li class="smallPadding"><a href="/photos"><label>Photos</label></a></li>
                <li class="smallPadding"><a href="/works"><label>Works</label></a></li>
                <li class="smallPadding"><a href="/about"><label>About</label></a></li>
            </ul>
        </div>
    </div>
</body>
</html>