<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container backgroundImg" alt="vilanovaCover">
        <div class="alignInY">
            <div class="alignInXspaceBetween">
                <div class="smallPadding">
                    <h1>Image Repository</h1>
                    <h3>General images with Vilanova Artigas</h3>
                </div>
                <ul class="alignInX smallPadding">
                    <li class="smallPadding"><a href="/home"><label>Home</label></a></li>
                    <li class="smallPadding"><a href="/photos"><label>Photos</label></a></li>
                    <li class="smallPadding"><a href="/works"><label>Works</label></a></li>
                    <li class="smallPadding"><a href="/about"><label>About</label></a></li>
                </ul>
            </div>
            <div class="scroll">
                <h4>Vilanova and Paulo Mendes da Rocha - Image 01</h4> 
                <img class="gallery__img" src="/images/vilanovaAndPmr.jpg" alt="vilanova And Pmr">
                <hr>
                <h4>Vilanova in his atelier</h4>
                <img class="gallery__img" src="/images/vilanovaEstudio.jpg" alt="vilanova Estudio">
            </div>
        </div>
    </div>
</body>
</html>