<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container backgroundImg" alt="vilanovaCover">
        <div class="alignInY">
            <div class="alignInXspaceBetween">
                <div class="smallPadding">
                    <h1>Main works from Vilanova Artigas</h1>
                    <h4>**For now only displaying part<br>
                        of the great legacy he built</h4>
                </div>
                <ul class="alignInX smallPadding">
                    <li class="smallPadding"><a href="/home"><label>Home</label></a></li>
                    <li class="smallPadding"><a href="/photos"><label>Photos</label></a></li>
                    <li class="smallPadding"><a href="/works"><label>Works</label></a></li>
                    <li class="smallPadding"><a href="/about"><label>About</label></a></li>
                </ul>
            </div>   
            <div class="scroll">
                <h4>Casa dos Triangulos - Image 01</h4>
                <img class="gallery__img" src="/images/casaDosTriangulos.jpg" alt="casa dos triangulos">
                <hr>
                <h4>Casa dos Triangulos - Image 02</h4>
                <img class="gallery__img" src="/images/casaDosTriangulos2.jpg" alt="casa dos triangulos">
                <hr>
                <h4>Casa dos Triangulos - Image 03</h4>
                <img class="gallery__img" src="/images/casaDosTriangulos3.jpg" alt="casa dos triangulos">
                <hr>
                <hr>
                <hr>
                <h4>Casa Elza Berguo - Image 01</h4>
                <img class="gallery__img" src="/images/casaElzaBerguo.jpg" alt="casa elza berguo">
                <hr>
                <h4>Casa Elza Berguo - Image 02</h4>
                <img class="gallery__img" src="/images/casaElzaBerguo2.jpg" alt="casa elza berguo">
                <hr>
                <h4>Casa Elza Berguo - Image 03</h4>
                <img class="gallery__img" src="/images/casaElzaBerguo3.jpg" alt="casa elza berguo">
                <hr>
                <hr>
                <hr>
                <h4>Casa Mendes Andre - Image 01</h4>
                <img class="gallery__img" src="/images/casaMendesAndre.jpg" alt="casa Mendes Andre">
                <hr>
                <h4>Casa Mendes Andre - Image 02</h4>
                <img class="gallery__img" src="/images/casaMendesAndre2.jpg" alt="casa Mendes Andre">
                <hr>
                <h4>Casa Mendes Andre - Image 03</h4>
                <img class="gallery__img" src="/images/casaMendesAndre3.jpg" alt="casa Mendes Andre">
                <hr>
                <h4>Casa Mendes Andre - Image 04</h4>
                <img class="gallery__img" src="/images/casaMendesAndre3.jpg" alt="casa Mendes Andre">
                <hr>
                <hr>
                <hr>
                <h4>Edificio Louveira - Image 01</h4>
                <img class="gallery__img" src="/images/edificioLouveira.jpg" alt="edificio Louveira">
                <hr>
                <hr>
                <hr>
                <h4>FAU USP - Image 01</h4>
                <img class="gallery__img" src="/images/fau-usp.jpg" alt="fau usp">
                <hr>
                <hr>
                <hr>
                <h4>Residencia Artigas - Image 01</h4>
                <img class="gallery__img" src="/images/residenciaArtigas.jpg" alt="residencia Artigas">
                <hr>
            </div>
        </div>    
    </div>
</body>
</html>